.item,
.showItem, .hideItem {
  background: transparent;
  transition: all var(--time-duration-default);
  display: flex;
  align-items: center;
}
.item a,
.showItem a, .hideItem a {
  padding: var(--space-inset-s);
  display: flex;
  align-items: center;
}
.item svg,
.showItem svg, .hideItem svg {
  margin: 0 var(--space-inset-xs) 0 0;
  opacity: 0.3;
}

@media (min-width: 1024px) {
  .item a {
    text-shadow: -1px -1px 2px var(--hero-backgroundColor), 1px -1px 2px var(--hero-backgroundColor), -1px 1px 2px var(--hero-backgroundColor), 1px 1px 2px var(--hero-backgroundColor);
    color: var(--color-neutral-white);
    padding: var(--space-inset-s);
    transition: all var(--time-duration-default);
    border-radius: var(--size-radius-small);
  }
  .homepage:not(.fixed) .item a {
    color: var(--color-neutral-white);
  }
  .item a:hover {
    color: var(--color-neutral-white);
    background: #ffffff99;
  }
  .item svg {
    transition: all var(--time-duration-default);
  }
  .item:hover svg {
    fill: var(--color-brand-primary);
    opacity: 1;
  }
  .hero .item:hover svg svg {
    fill: green;
  }

  .showItem {
    display: none;
  }

  .hiddenItem {
    text-align: left;
    padding: 0;
  }
  .hiddenItem a.inHiddenItem {
    color: var(--text-color-primary);
    padding: 0.8em 20px;
    width: 100%;
    text-shadow: none;
    display: block;
  }
  .hiddenItem a.inHiddenItem:hover {
    background-color: #f2f2f2;
    color: var(--color-brand-primary);
  }

  .itemList .hideItem {
    display: none;
  }
}
