<main class="blog">
  <ul>
    {% assign sorted = (site.pages | sort: 'path') | reverse %}
    {% for page in sorted %}
    {% assign folder = page.path | split: "/" %}
    {% assign date = folder[1] | split: "--" | first | date: "%a, %b %d, %y"  %}
    {% assign stub = folder[1] | split: "--" | last | handleize  %}
    {% assign length = folder[1] | split: "--" | size %}
    {% if length == 2 %}{% if folder[0] == "posts" %}
    <li class="item">
      <a href="{{ page.url }}" class="link">
        <div class="blog-image-container">
        <img class="blog-image" src="/{{folder[0]}}/{{folder[1]/}}/{{page.cover}}">
        </div>
        <h1>
          {{page.title}}{% include faarrow.html %}
        </h1>
        {% assign type = page.category %}
        {% assign icon = page.category | remove: " " | downcase  %}
        {% include corner.html %}
        <p class="meta">
          <span class="author-info">
            {{page.author}}
            <img class="author-img" src="{{ page.authorImg }}" />
          </span>
          <span>
            {% include facalendar.html %} {{date}}
          </span>
          <span>
            {% include fatag.html %} {{page.category}}
          </span>
        </p>
        {% assign paragraphs = page.content | markdownify | strip_html | newline_to_br | strip_newlines | split: '<br />' %}
        <p>{{ paragraphs[2] | truncatewords: 75 }}</p>
      </a>
    </li>
    {% endif %}{% endif %}{% endfor %}
  </ul>
</main>
