<header class="header {% if page.path == "index.html" %}homepage{% endif %}">
  <a href="/" class="logo-link">
    <img class="logo-img" src="/images/png/silogo.svg" alt="{{ site.siteTitle }}" />
  </a>
  <h1>Developer Hub</h1>
</header>
<div class="sensor"></div>
<script>
  const sensor = document.currentScript.previousElementSibling;
  const header = sensor.previousElementSibling;
  new IntersectionObserver(entries => entries.forEach(function onIntersection({
    isIntersecting,
    target
  }) {
    header.classList.toggle('fixed', !isIntersecting);
  })).observe(sensor);
</script>
