<section class="hero">
  <script>
    const hero = document.currentScript.parentNode;
    function onResize() {
      const heroHeight = hero.offsetHeight;
      const pageWidth = window.innerWidth + 160;
      const rocketAngle = Math.atan(heroHeight/pageWidth);
      hero.style.setProperty('--heroHeight', heroHeight);
      hero.style.setProperty('--rocketAngle', rocketAngle);
    }
    window.addEventListener('resize', onResize);
    window.addEventListener('DOMContentLoaded', onResize);
  </script>
  <div class="hero-info">
    <h1 class="intro">Welcome to the Developer Hub for the web browser Samsung Internet.</h1>
    <p class="intro-text">Here you will find demos, articles and documentation to help you make the most of the latest web features in Samsung Internet and other browsers too.</p>
    {% include feature.html %}
  </div>
</section>
