<nav class="menu open">
  <ul class="itemList">
      <li class="item">
        <a href="/category/" class="link">
          Categories
        </a>
      </li>
      <li class="item">
        <a href="#" class="link">
          ...pages
        </a>
      </li>
      <li class="item">
        <a href="https://medium.com/samsung-internet-dev" class="link">
          Categories
        </a>
      </li>
      <li class="item">
        <a href="https://github.com/SamsungInternet/support/issues" class="link">
          Support
        </a>
      </li>
      <li class="item">
        <a href="https://github.com/SamsungInternet" class="link">
          Demos
        </a>
      </li>
  </ul>
</nav>
